<html ng-app="TheFireCompany">
<head>
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.6/socket.io.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.3/angular-locale_pt-br.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-touch.min.js"></script>

	<script type="text/javascript">
		angular.module('TheFireCompany', [], function ($interpolateProvider) {
			$interpolateProvider.startSymbol('[[');
			$interpolateProvider.endSymbol(']]');
		});

		angular.module('TheFireCompany').
			factory('socket', function ($rootScope, $timeout) {
				var host = location.origin.replace(/^http/, 'ws')
				var socket = io.connect(host);
				socket.emit('create', '<%= hash %>');
				return {
					on: function (eventName, callback) {
						socket.on(eventName, function () {  
							var args = arguments;
							$timeout(function () {
								callback.apply(socket, args);
							}, 0);
						});
					},
					emit: function (eventName, data, callback) {
						socket.emit(eventName, data, function () {
							var args = arguments;
							$rootScope.$apply(function () {
								if (callback) {
									callback.apply(socket, args);
								}
							});
						});
					}
				};
			});
		
		angular.module('TheFireCompany').run(function($rootScope, $http, socket) {
			$rootScope.page = 1;
			$rootScope.hash = '<%= hash %>';
			socket.on('next', function(data) {
				$rootScope.page++;
			});
			socket.on('previous', function(data) {
				$rootScope.page--;
			});
		});
	</script>
</head>
<body>
	<h1 class="text-center">
		[[hash]]
		<br>
		Page [[page]]
	</h1>
</div>

</body>
</html>